body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
}

.dashboard {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #111827;
  color: #fff;
  height: 100vh;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 185px;
  margin: 20px auto 30px 15px;
}
.sidebar a {
  color: #d1d5db;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.sidebar a.active {
  background: #1f2937;
  color: #fff;
}

/* Main content */
.main {
  flex: 1;
  padding: 20px;
}