/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --mploy-check-color-primary: #111;
  --mploy-check-color-secondary: #333;
  --mploy-check-color-background: #f5f5f5;
  --mploy-check-color-surface: #ffffff;
  --mploy-check-color-text: #111;
  --mploy-check-color-border: rgba(0, 0, 0, 0.1);
  --mploy-check-color-overlay: rgba(0, 0, 0, 0.5);
  --mploy-check-glass-background: rgba(255, 255, 255, 0.55);
  --mploy-check-color-shadow: rgba(100, 100, 111, 0.2);
  --mploy-check-color-shape: #999;
  --mploy-check-color-white: #ffffff;
  --mploy-check-color-black: #111;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mploy-check-color-background);
}